/* body */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color:rgb(27, 27, 27);
    background-image: url(../../public/Images/tv.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/* content, author and button part of the code */
main{
    position: relative;
    top: clamp(-1rem, 1.857rem + -7.619vw, -5rem);
    text-align: center;
    margin-left: clamp(3rem, -11.286rem + 38.095vw, 23rem);
    margin-right: clamp(3rem, -11.286rem + 38.095vw, 23rem);
    height: 50vh;
    width: clamp(40rem, 61.429rem + -57.143vw, 10rem);
}
main > div{
    height: 20rem;
}

/* customizes the button */
button{
    position: relative;
    background-color: rgb(231, 50, 255);
    width: 12rem;
    height: 5.5vh;
    border-radius: 25px;
    font-size: 25px;
    margin-top: clamp(0.5rem, -1.286rem + 4.762vw, 3rem);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button:hover{
    background-color: rgb(116, 26, 128);
}

/* animatin for the quote to appear */
.quote{
    opacity: 1;
    animation: appear;
    animation-duration: 3s;
}
@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  /* styling for the font size of the quote */
  h1{
    font-size: clamp(2rem, 1.643rem + 0.952vw, 2.5rem);
  }

/* root */
#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}